body,
html {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

.bg-one {
    background-image: url("../images/banner.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.bg-two {
    background-image: url("../images/banner2.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bg-three {
    background-image: url("../images/banner3.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.car_nav{
    position: relative;
}
.car_nav_bg{
    background-color: rgba(3, 3, 28, 0.257);
    position: relative;
    margin-top: -11%;
}
.car_tab{
    width: 95%;

}
.navbar {
    position: absolute;
    top: 0px;
    background-color: aliceblue;
    z-index: 2;
    background-image: url("../images/banner.png");
}
.nav_sticky{
    position: sticky!important;
    top: 0%;
    background-color: rgb(251, 248, 248);
    background-image: url("");
    z-index: 1;
}

.navbar .nav-inside {
    width: 98.8vw;
    display: flex;
    flex-direction: row;
    justify-items: flex-end;

}

.logo {
    width: 150px;
}

.navbar-collapse {
    margin-left: 60%;
}

.nav-link{
    color: black;
    text-decoration: underline;
    font-style: italic;
}
.nav-link:hover {
    color: black;
}

.drop{
    font-size: 100px;
    font-family: Arial Black;
}
.drop2{
    position: absolute;
    margin: -35px;
    margin-top: 30px!important;

}


@media screen and (max-width: 600px) {
    .navbar-collapse {
        color: white;
        text-align: center;
        background-color: rgb(38, 95, 145);
        margin-left: 0%;
    }

}